<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="root"></div>

    <div id="render_tsx1"></div>
    <div id="render_tsx2"></div>
    <div id="render_tsx3"></div>
    <div id="render_tsx4"></div>
    <div id="render_tsx5"></div>
    <div id="render_tsx6"></div>

    <div class="render_tsx"></div>
    <div class="render_tsx"></div>
    <div class="render_tsx"></div>
    <script src="../js/chapter_3.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bundle.css">
</body>

</html>
