<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="root"></div>

    <div id="render"></div>
    <div id="render2"></div>
    <div id="render3"></div>
    <div id="render4"></div>
    <div id="render5"></div>
    <div id="render6"></div>
    <div id="render7"></div>
    <div id="render8"></div>
    <script src="../js/app.js"></script>
</body>

</html>
